<nav class="header__nav" aria-label="Primary navigation">
    <a class="nav-item" href="#">Home</a>
    <a class="nav-item" href="#">Custom</a>
    <a class="nav-item" href="#">Sedan</a>
    <a class="nav-item" href="#">SUV</a>
    <a class="nav-item" href="#">Truck</a>
</nav>